<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trello Projects</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet" />

</head>

<body>

  <script>
      function goToProject(name){
      console.log("click");
      window.location.href = "/tasks/"+name;
    }
  </script>
  <div class="d-flex" id="wrapper">
  <!-- HEADER -->

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PSEUDO
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile ?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Disconnect</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>


<!-- Page Content -->

<div class="container">
  <!-- marge top-->
  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-2">
    </div>
    <div class="col-8">
      <a href="/project/new">New project</a>
    </div>
    <div class="col-2">
    </div>
  </div>
  <!-- marge top-->
  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-2">
    </div>
    <div class="col-8">
      <table class="table table-striped">
 	      <%
    	    for(var j = 0 ; j < projects.length ; j++) {
        %>
          <tr>
             <td onclick="goToProject('<%= projects[j].name %>')"><%= projects[j].name %></td>
             <td class="text-right"><a href="/project/<%= projects[j].name%>">Modifier</a></td>
	        </tr>
        <% } %>
      </table>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>



    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

  </script>

</body>

</html>
