<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trello Projects</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/simple-sidebar.css" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet" />

</head>

<body>

  <script>
    function isUniq(){
      console.log("isUniq");
      var inputTitle = document.getElementById("InputTitle");
      //on se sert de new dans l'url pour indiqué que c'est un nouveau projet. si un projet s'appel new ca posera problème
      if(inputTitle.value == "new"){
        console.log("false");
        return false;
      }
      var nameList = '<%= projectNameList %>';
      '<% for(var i = 0; i < projectNameList.length; i++){%>'
      if(inputTitle.value == '<%= projectNameList[i]%>'){
        console.log("false");
        return false;
      }
      '<%}%>'
      console.log("true");
      return true;
    }

    //lorsque l'on modifie la valeur du titre dans le formulaire vérifie si déjà prit
    function displayValidationOfTitle(){
      console.log("displayValidationOfTitle");
      var inputTitle = document.getElementById("InputTitle");
      //appel la fonction isUniq vérifiant si la value dans le formulaire est égale à un des nom de projectNameList
      var verif = isUniq();
      if(verif){
        console.log("valid");
        //affiche en vert le champs pour confirmer
        return inputTitle.className = "form-control is-valid";
      } else {
        console.log("invalid");
        //affiche le champs en rouge pour indiquer la non correspondance
        return inputTitle.className = "form-control is-invalid";
      }
    }

    //est appelé lorsque l'on clique sur save
    function validation(){
      console.log("validation");
      //si formulaire d'un nouveau projet
      if(document.formNew){
        //il faut vérifier que le titre n'existe pas déjà en base avant de submit
        if(isUniq()){
          document.formNew.submit();
        }
      //c'est un projet existant donc pas besoin de vérifier le titre dans ce formulaire
      } else {
        document.formExist.submit();
      }
    }
  </script>
  
  <div class="d-flex" id="wrapper">
    <!-- HEADER -->

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PSEUDO
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile ?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Disconnect</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>


<!-- Page Content -->

<div class="container">
  <% if(project == "new"){ %>
  <form action="/save_project/new" method="POST" name="formNew">
  <% } else { %>
  <form action="/save_project/<%= project.name %>" method="POST" name="formExist">
  <% } %>
    <!-- marge top-->
  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-1">
    </div>
    <div class="col-2 text-right">
      Title : 
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <!-- si c'est un nouveau projet le titre est modifiable-->
      <% if(project == "new"){ %>
        <div class="form-group">
          <input onchange="displayValidationOfTitle()" type="text" class="form-control" id="InputTitle" name="title" required/>
        </div>
      <% } else { %>
      <%= project.name %>
      <% } %>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-1">
    </div>
    <div class="col-2 text-right">
      Members : 
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" id="InputMembers" name="members" />
        </div>
    </div>
    <div class="col-2">
    </div>
  </div>
  <!-- marge top-->
  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="form-group text-center">
          <input onclick="validation()" type="button" id="save"  name="save" value="save" class="btn btn-primary"/>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row">
    <!-- marge à gauche-->
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="form-group  text-center">
        <a href="/my-projects">Cancel</a>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</form>
</div>



  <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
